.inline-title:not([data-level]) {
  font-size: 40px;
}

.HyperMD-header-1 {
  padding: 2px 10px !important;
  border: none;
  background-color: #2455AA;
  font-size: 30px;
  line-height: 1.5;
}

.HyperMD-header-2 {
  padding: 2px 10px !important;
  margin: 1px 0 !important;
  border: none;
  border-left: 2px solid #2455AA;
  border-bottom: 2px solid #2455AA;
  font-size: 24px;
  line-height: 1.5;
}

.HyperMD-header-3 {
  padding: 2px 10px !important;
  border: none;
  border-bottom: 2px solid #2455AA;
  color: white;
  font-size: 20px;
  line-height: 1.5;
}

.HyperMD-header-4, .HyperMD-header-5, .HyperMD-header-6 {
  color: white;
}
